body {
    background-color: black;
  }
div {
    width: 500px;
    height: 500px;
    margin: 800px;
    margin-top: 100px;
}


h1 {
    color: azure;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Young Serif', serif;
    text-transform: uppercase;
    text-align: center;
}
h2 {
    color: azure;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Young Serif', serif;
    text-align: center;
}

img {
    width: 490px;
}
.motivation-img {
    border: solid white;
}